{% extends 'base.html' %} {% block body %}
<div class="p-2">
  <!-- disclaimer -->
  <section class="p-4">
    <h2>Disclaimer</h2>
    <p class="text-gray font-small m-0">
      All the products are listed for sale in the shop, are owned by the
      Company. Anyone can buy personal license for the products. But Reselling
      are Strictly prohibited. Learn more about
      <a class="text-danger" href="/piracy.html">Anti-Piracy Laws</a> &amp;
      <a class="text-danger" href="/terms.html">Terms and Conditions</a>.
    </p>
  </section>
  <!-- important links -->
  <section class="m-3 p-2">
    <p>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"
        >Terms and Condition</a
      >
    </p>
    <p>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"
        >Privacy Policy</a
      >
    </p>
    <p>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"
        >Return and Refund Policy</a
      >
    </p>
    <p>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"
        >Contact Us</a
      >
    </p>
  </section>
</div>
{% endblock body %}
